{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {%if current_user.is_anonymous%}
    <h1>Welcome to the Police Brutality Forum!</h1>
    {%else%}
    <h1>Hi, {{ current_user.username }}!</h1>
    {%endif%}
    <p>This forum was made to help support the Black Lives Matter Movement. Here you will find a forum where anyone and everyone can share their experiences with police brutality. People can also share important resources they believe supporters should see.</p>
    <hr>
    <form action = "" method="post">
        {{form.hidden_tag()}}
        <p>
            {{form.post.label}}<br>
            {{form.post(cols=32,rows=4)}}<br>
            {%for errors in form.post.errors%}
            <span style="color:red;">[{{error}}]</span>
            {%endfor%}
        </p>
        <p>{{form.submit()}}</p>
    </form>
    {% for post in posts %}
        {%include '_post.html'%}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
